*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #21295c;
    color: #cf5c36;
}
.contenedor{
    width: 300px;
    margin: 20px auto;
    background: #eee5e9;
    padding: 20px;
}
form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
	text-align: center;
}
.contenedor form .btns{
    display: flex;
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenedor form .btns .btn{
    width: 40px;
    text-align: center;
    padding: 5px;
    background: #cf5c36;
	color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 3px;  
}
form .btns .btn:hover{
    background: #dc7855;
}
form .btns .btn:focus{
    background: #cf5c36;
    border: 2px solid #000;
    color: #000;
}
.contenedor form .resultado{
    text-align: center;
    color: #cf5c36;
    font-size: 25px;
}